*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Deshabilitar la opción de mostrar contraseña nativa de Microsoft Edge*/
input::-ms-reveal,
input::-ms-clear {
  display: none;
}